* {
  float: left;
}

.aplicacionesLogo {
  height: 100%;
  margin: auto;
  float: right;
  clear: both;
}
.aafdsfasfgd {
  hspace="5";
  vspace="5";
  float: right;
  clear: both;
}
.App{
  height: 75%;
}
