* {
  box-sizing: border-box;
}
body{
    background-image:url(../../e02a63a5c4775e9a0497e5cc99ce91f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(146, 112, 255,0.25);
    background-image: url(../imagenes/backgroundM.jpg);
    background-repeat: repeat;
    background-size: auto;
    font-family:arial;
    margin:0px;
}

.iconazo{
    height:35%;
    width: 35%;
    z-index:100;
    float:left;
    position:relative;
    margin-left:32%;
    margin-top:10%;
    border-radius:15px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.presentacion{
    position: relative;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-top:3.5%;
    
}
.presentacion img{
    height:60%;
    width:60%;
}
.presentacion h1{
        font-size: 50px;
    color:#9270FF;
}
.presentacion p{
    font-size: 24px;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.contenido{
    height: 100%;
    margin:0 auto;
    margin-left:5%;
    margin-right:5%;
    margin-top: 100px;
    border-radius: 10px;
    padding:1%;
    
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.noticia{
    
}
.icono{
    height:35%;
    width: 35%;
    z-index:100;
    float:left;
    position:relative;
    border-radius:15px;
    opacity: 1;
}
#NavTerminosLegales{
    position: relative;
    float:left;
    height: 100%;
    border: 3px #45CC4D solid;
    border-radius: 2%;
}
#ContenedorTerminos{
    margin-left: 33.33%;
    border: 3px #9270FF solid;
    
    padding: 2%;
}
#ContenedorTerminos h2{
    color: #9270FF; 
}
#ContenedorTerminos h1{
    color: #45CC4D; 
}
#IndiceTerminosLegales{
    list-style: none;
}
.menuDesplegable{
    position:absolute;
    top:0px;
    left:0px;
    background-color: rgba(146, 112, 255,0.25);
    width: 100%;
    height:92px;
    z-index: 100;
}
.menuDesplegable ul {
    list-style:none;
    float:right;
    padding-right:1%;
}
.menuDesplegable ul>li>a {
    display:block;
    color:#8B7D9E;
    text-decoration:none;
    font-size:15px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;

}
#aplicaciones{
    width: 165px;
}
.menuDesplegable ul li {
    height: 100%;
    margin:0;
    padding:0;
    float:right;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}
.menuDesplegable ul>li:hover{
    background:#5b78a7;
}
.menuDesplegable ul li a:hover{
    color:#45CC4D;
/*    background-color: aqua;*/
}
.menuDesplegable ul li a {
/*    height:100%;*/
}
.menuDesplegable li:hover > ul {
    display:inline-grid;
}
.menuDesplegable li ul {
    display:none;
    position:relative;
/*    min-width:140px;*/
}
.menuDesplegable li ul li{
        text-align: center;
}
.menuDesplegable ul li ul {
    padding-left: 0px;
}
footer{
    width:100%;
    background-color: rgba(146, 112, 255,0.25);
    height: 60px;
 }
.avisoLegal a{
    display:block;
    color:#8B7D9E;
    text-decoration: none;
}
.avisoLegal ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
    font-size: 15px;
    width:150px;
}
.avisoLegal{
    float:right;
    line-height: 60px;
    text-align: center;
}
.avisoLegal ul li:hover {
 background:#5b78a7;
}
.avisoLegal ul li a:hover{
    color: #45CC4D;
}

.copyright{
    position:relative;
    font-size: 12px;
    top:50%;
    float:right;
    color:#8B7D9E;
}
.idiomas img{
    width:75px;
    height: 50px;
    float:right;
    padding-top:15px;
    padding-right: 15px;
}
.idiomas ul{
        list-style: none;
}
.sobreNosotros h1{
    font-size:3em;
    text-transform: uppercase;
    text-align:center;
    
}
#tablaAplicaciones{
    width:100%;
    height:100%;
    position: relative;
    /*border: solid 1px rgba(69, 204, 77,0.25);*/
    border-radius: 10px;
/*    background-color:white;*/
    margin:auto;
    top:80px;
    clear:both;
    padding-left: 5%;
}
#tablaAplicaciones img{
    height: 200px;
    width: auto;
}
.aplicacion{
    width: 25%;
    float:left;
    overflow:hidden;
    margin-bottom: 3%;
     background-color:white;
    border: solid 1px rgba(69, 204, 77,0.25);
    margin-right: 8.33%;
    border-radius: 10%;
}
.aplicaciones:after {
    clear: both;
    content: "";
    display: table;
}
.aplicaciones{
    padding: 1.8em;
}
.aplicacion img{
    padding-top:5%;
}
.productoP{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    float:left;
}
.productoP img{
    height:25%;
    width:25%;
}
.producto h1{
    font-size: 50px;
    color:#9270FF;
    text-align: center;
}
.productoP p{
    font-size: 24px;
}
.producto{
    width:100%;
    height:100%;
    border: solid 1px black;
    border-radius: 10px;
    background-color:white;
    margin:auto;
    top:95px;
    padding:18px;
    margin-bottom: 8 %;
}
.multimediaAplicacion{
    float:left;
    width: 55%;
}
.descripcionAplicacion{
    float:left;
    width: 45%;
}
.metodosDePago{
    float:left;
}
.producto:after {
    clear: both;
    content: "";
    display: table;
}