* {
  box-sizing: border-box;
}
body{
    background-image:url(../../e02a63a5c4775e9a0497e5cc99ce91f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.iconazo{
    height:35%;
    width: 35%;
    z-index:100;
    float:left;
    position:relative;
    margin-left:33%;
    margin-top:10%;
    border-radius:15px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.contenido{
    height: 100%;
    margin:0 auto;
    margin-left:5%;
    margin-right:5%;
    margin-top: 3%;
    border-radius: 15px;
    margin-bottom: 2%;
    background-color:rgba(217, 176, 126, 0.8);
    padding:1%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.noticia{
    
}
.icono{
    height:35%;
    width: 35%;
    z-index:100;
    float:left;
    position:relative;
    border-radius:15px;
    opacity: 1;
}